---
layout : "default"
---

<main>
  {% for post in paginator.posts %}
  <article class="h-entry">
    <header>
      <a class= "u-url" href="{{ site.url }}{{ post.url }}" target="_self">
        <h3 class="p-name">{{ post.title }}</h3>
        <aside>Published <time class="dt-published" datetime="{{ post.date}}">{{ post.date | date: "%d %B %Y" }}</time>{% if post.author %} by <span class="p-author">{{ post.author }}</span>{% endif %}.</aside>
      </a>
    </header>
    <span class="p-summary">{{ post.content | strip_html | truncatewords: 40 }}</span>
  </article>
  {% endfor %}
</main>

<footer>
  <nav>
    <a href="{{ paginator.previous_page_path }}" target="_self" {% unless paginator.previous_page %}hidden{% endunless %}>Previous</a>
    <a href="{{ paginator.previous_next_path }}" target="_self" {% unless paginator.next_page %}hidden{% endunless %}>Next</a>
  </nav>
</footer>
