<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }}</title>
<base target="_blank" href="{{ site.url }}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{{ '/styling/index.css?v=' | append: site.github.build_revision | relative_url }}">
<body class="h-feed">
<a class="u-url" href="{{ site.url }}/" target="_self">
  <header>
    <h1 class="p-name">{{ site.title | default: site.github.repository_name }}</h1>
    <aside>
      <p class="p-summary"> {{ site.description | default: site.github.project_tagline }}
    </aside>
  </header>
</a>

{{ content }}
